.list {
  display: flex;

  .item {
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    position: relative;

    &:hover {
      transform: scale(1.05);
      .check {
        opacity: 1;
        color: rgba(0, 0, 0, 0.2);
      }
    }
    &.active {
      .check {
        opacity: 1;
        color: rgba(30, 130, 76, 0.5);
      }
    }

    .check {
      position: absolute;
      opacity: 0;
      left: 50%;
      margin-left: -24px;
      top: 50%;
      margin-top: -24px;
    }
  }
}

.pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  position: relative;
  &-content {
    display: flex;
    &.vertical {
      flex-direction: column;
    }
    &.horizontal {
      flex-direction: row;
    }
    .section {
      margin-bottom: 10px;
      .line {
        .character {
          width: 10px;

          display: inline-block;
        }
      }
    }
  }
}

.message {
  display: flex;
  .icon {
    color: red;
  }
}

.form {
  margin: 20px;
}

button {
  width: 100px;
  height: 50px;
}

.printed {
  display: flex;
  .pattern {
    margin: 20px;
  }
}

.message {
  height: 20px;
}

.result-title {
  position: absolute;
  left: 10px;
  top: 0;
}
