.list {
  display: flex;

  .item {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    position: relative;
    &:hover {
      transform: scale(1.05);
      .check {
        opacity: 1;
        color: rgba(0, 0, 0, 0.2);
      }
    }
    &.active {
      .check {
        opacity: 1;
        color: rgba(30, 130, 76, 0.5);
      }
    }
    .check {
      position: absolute;
      opacity: 0;
      top: 25%;
      left: 25%;
    }
    .pattern {
      width: 50px;
      height: 80px;
      margin: auto;
      padding-top: 20px;
    }
  }
}

.pattern {
  div {
    &.reverseTriangle {
    }
    &.diamond {
    }
  }
}

.message {
  display: flex;
  .icon {
    color: red;
  }
}

.form {
  margin: 20px;
}

button {
  width: 100px;
  height: 50px;
}

.printed {
  display: flex;
  .pattern {
    margin: 20px;
  }
}

.message {
  height: 20px;
}
